<?xml version="1.0"?>
<configuration>

  <facilities>
      <facility id="zmqfacility" 
                type="Castle.Facilities.Zmq.Rpc.ZmqRpcFacility, Castle.Facilities.Zmq.Rpc"
                listen="tcp://0.0.0.0:59061"
                usePerfCounter="false">
      </facility>
  </facilities>

</configuration>
