<?xml version="1.0"?>
<configuration>
  
  <facilities>
    <facility id="zmqfacility" type="Castle.Facilities.Zmq.Rpc.ZmqRpcFacility, Castle.Facilities.Zmq.Rpc" 
              usePerfCounter="false">
      <endpoints>
        <add assembly="Facility.TestCommon" address="tcp://localhost:59061"/>
      </endpoints>
    </facility>
  </facilities>

</configuration>
